*{
    margin: 0;padding: 0;
}
table{
    width: 90%;
    margin: auto;
    margin-top: 10%;
}
table,
th,
td {text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid brown;
    border-collapse: collapse;
    padding: 10px 0px;
}
th {
    color: blue;
    font-size: larger;
    background-color: aqua;
}
td{
    color: blueviolet;
    font-size: 30px;
}
tr:nth-child(odd){
    background-color: coral;
}
tr:nth-child(even){
    background-color: darkolivegreen;
}
